<header>
        <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <span class="text-uppercase font-weight-bold">{{ site.title }}</span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">{% if site.repo %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{{ site.repo }}" target="_blank"><span>GitHub</span></a>
			</li>{% endif %}{% for link in site.data.navigation %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
			</li>{% endfor %}
      {% if site.version_params.versioning == true %}
      <!-- <li class="nav-item mr-4 mb-2 mb-lg-0"> -->
        {% if site.version_params.version_menu != '' %}
          <span class="nav-link ">{{site.version_params.version_menu}}:</span>
        {% endif %}
        <li class="nav-item dropdown d-none d-lg-block">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ currentpageversion }}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for version in site.version_params.versions %}
            {% capture civersion %}
              {{ version | downcase}}
            {% endcapture %}
              {% if version == site.version_params.latest %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ latestversion }}">{{version}}</a>
              {% else %}
                {% if site.version_params.version_dir != "" %}
                  {% assign versionlink = '/docs/' | append: site.version_params.version_dir | append: '/' | append: version | append: '/' %}
                {% else %}
                  {% assign versionlink = '/docs/' | append: version | append: '/' %}
                {% endif %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ latestversion | replace: '/docs/', versionlink }}">{{version}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </li>
      <!-- </li> -->
      {% endif %}
		</ul>
	</div>
</nav>
</header>